@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #3b2f2f;
    background-image: url('../resources/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    opacity: 0.9;
    animation: floatIn 1s ease-out;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: center;
    background-color: rgba(167, 117, 81, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #f5f0e1;
    text-decoration: none;
    margin: 5px 20px;
    font-weight: 600;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #d9c7a1;
    color: #3b2f2f;
    border-radius: 5px;
}

/* Skills Section */
#skills {
    margin: 30px;
    padding: 20px;
    background-color: rgba(245, 240, 225, 0.9);
    border: 2px solid #d9c7a1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#skills h2 {
    font-size: 2.5em;
    color: rgba(25, 25, 81, 0.85);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0;
}

/* Skills Container */
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

/* Skills Category */
.skills-category {
    margin: 20px 0;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9); /* White background for each skill box */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out; /* Smooth transition for the hover effect */
}

.skills-category:hover {
    background-color: rgba(245, 240, 225, 0.9); /* Light brown hover color */
    transform: scale(1.05); /* Slightly enlarge the box on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

/* Add hover effect on the heading within each category */
.skills-category h4 {
    transition: color 0.3s ease;
}

.skills-category:hover h4 {
    color: #d9c7a1; /* Change the color of the category heading on hover */
}


.skills-category h3 {
    font-size: 1.8em;
    color: rgba(25, 25, 81, 0.85);
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills-category ul {
    list-style-type: disc;
    padding-left: 20px;
}

.skills-category ul li {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Certifications Section */
#skills ul li {
    font-size: 1.2em;
    line-height: 1.6;
    color: #3b2f2f;
}
